/* utilites */

.full-absolute {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* component */

.clip-matrix {
  @extend .full-absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .clip-matrix__cell {
    @extend .full-absolute;
    opacity: 0.5;
  }
}

