body {
  font-family: 'Montserrat', sans-serif;
}
.examples {
  position: relative;
  height:100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  .example {
    position: relative;
    border: 1px solid red;
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .example__title {
      font-size: 2em;
      color: red;
      z-index: 20;
    }
  }
  .clip-matrix {
    z-index: 10;
  }
}

